* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #8B647A;
    --secondary-color: #000000;
}

body {
    color: var(--secondary-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* apply styles to header */
header {
    padding: 20px 20px;
    background-color: var(--primary-color);
    display: flex;
    position: sticky;
    position: -webkit-sticky;
    justify-content: space-between;
    z-index: 9999;
    flex-wrap: wrap;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 48px;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 15px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 15px;
    font-size: 2vw;
    text-shadow: 0 0 10 rgba(0, 0, 0, 0.6);
}

header nav ul li a:hover {
    background: #646464;
    color:white;
    border-radius: 20px;
    text-shadow: none;
}

.section {
    padding: 50px; 
}
/* Hero Styles Start */
.hero {
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}

.hero::before {
    content: "";
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.85;
}

.hero-cta h2 {
    position: absolute;
    color: yellow;
    font-size: 48px;
    line-height: 0.9;
    text-align: right;
    padding-right: 25px;
}

/* hero styles end */

.section-title {
    font-size: 48px;
    color: var(--secondary-color);
    border-bottom: 2px solid;
    padding-bottom: 1px;
    padding-top: 10px;
    padding-left: 10px;
    margin: 0px auto 35px auto;
}

/* about styles start */

.about {
    background-color: var(--primary-color);
}

.mathew {
    width: flex;
    margin: 0 20px 0 20px;
    background: var(--primary-color);
    color: var(--secondary-color);
    overflow: auto;
    display: flex;
}

.mathew img {
  height: 200px;
  width: auto;
}

.mathew-bio {
    padding-left: 10px;
    line-height: 1.7;
}

/* body of works start */
.work {
    display: flexbox;
    background-color: var(--primary-color);
}

.works-grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    grid-auto-flow: dense;
}

.works-grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    color: var(--secondary-color);
    padding: 1em;
    position: relative;
}

.works-grid-item a {
    color: yellow;
    padding: 10px;
    font-size: 30px;
    text-decoration: none;
    font-weight: bold;
}

.works-grid-item p {
    font-weight: bold;
    font-size: 20px;
}

a.overclick {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    text-shadow: -2px 3px 7px black;
}
    a.overclick:hover {
        background-color: #fff;
        opacity: 0.12;
    }

.box1 {
    grid-column: 1 / span 4;
    grid-row: 1 / span 3;
    background-image: url(../images/run-buddy.png);
    background-size: cover;
}

.box2 {
    grid-column: 5 / span 3;
    grid-row: 1 / span 2;
    background-image: url(../images/horiseon.png);
    background-size: cover;
}

.box3 {
    grid-column: 1 / span 2;
    grid-row: 4 / span 3;
    background-image: url(../images/pokements-etsy.png);
    background-size: cover;
}

.box4 {
    grid-column: 3 / span 2;
    grid-row: 4 / span 3;
    background-image: url(../images/pokements-instagram.png);
    background-size: cover;
}

.box5 {
    grid-column: 5 / span 3;
    grid-row: 3 / span 2;
    background-image: url(../images/gender-women-studies.png);
    background-size: cover;
}

.box6 {
    grid-column: 5 / span 3;
    grid-row: 5 / span 2;
    height: 200px;
    background-image: url(../images/vimeo.png);
    background-size: cover;
}

/* body of work end */

/* contact styles start */

.contact {
    background: var(--primary-color);
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-left: 10px; 
}
/* footer styles start */

footer {
    background: var(--primary-color);
    width: 100%;
    padding: 20px 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    color: var(--secondary-color);
    font-size: 30px;
    margin: 0;
}

.social-icons {
    text-align: center;
}

.social-icons li {
    display: inline-block;
    list-style-type: none;
}

.social-icons li a {
    border-bottom: none;
}

.social-icons li img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
/* Footer styles end */

/* media queries start */

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        flex-wrap: wrap;
      }
    
      header h1 {
        width: 100%;
        text-align: center;
      }
    
      header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
      }
    
      header nav ul li a {
        font-size: 20px;
        padding: 10px;
      }
    
      footer h2 p {
        text-align: center;
        width: 100%;
        flex-wrap: wrap;
      }
  }

  @media screen and (max-width: 768px) {
    .works-grid-item a {
        color: yellow;
        padding: 10px;
        font-size: 20px;
        text-decoration: none;
        font-weight: bold;
    }

    .works-grid-item p {
        font-weight: bold;
        font-size: 12px;
    }
    
    footer h2 {
        font-size: 20px;
    }
  }
  @media screen and (max-width: 575px) {
    footer h2 {
        font-size: 15px;
    }
    .hero-cta h2 {
        font-size: 28px;
    }

    .works-grid-item a {
        color: yellow;
        padding: 10px;
        font-size: 15px;
        text-decoration: none;
        font-weight: bold;
    }

    .works-grid-item p {
        font-weight: bold;
        font-size: 10px;
    }

    header nav ul li a:hover {
        background: none;
        color:white;
        border-radius: 20px;
        text-shadow: none;
    }

    .box1, .box2, .box3, .box4, .box5, .box6 {
        background-position: center;
    }
  }

    /* media queries end */